:host {
  width: 100%;
  height: 100%;
  min-height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 55px 0;
  
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.main-div {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  min-width: 25%;
  min-height: 90%;
  padding: 40px 30px;
  border-radius: 15px;
  transition: all 0.3s;
  box-shadow: 0 24px 60px rgba(15, 23, 42, 0.2);
}

.main-div:hover {
  scale: 1.01;
    box-shadow: 0 24px 60px rgba(15, 23, 42, 0.35);
}


form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.name-div,
.lastname-div {
  display: flex;
  flex-direction: column;
}

label {
  padding-left: 3px;
  margin-bottom: 7px;
  font-size: 17px;
}

input {
  border-radius: 10px;
  border: 0.3px solid rgb(129, 129, 129);
  padding: 12px 15px;
  outline: none;
  font-size: 16px;
}

.name-lastname {
  display: flex;
  gap: 15px;
}

select {
  border-radius: 10px;
  padding: 12px 15px;
  outline: none;
}

.password-div {
    display: flex;
    flex-direction: column;
    gap: 15px   ;
}

.btn-div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.btn-div button {
    min-width: 60%;
    padding:10px;
    font-size: 18px;
    cursor: pointer;
    background-color: blue;
    color: white;
    border-radius: 10px;
    border: none;
    margin-top: 10px;

}

.btn-div button:disabled {
  cursor: not-allowed;
  background-color: gray;
}


.invalid {
  border: 1px solid red;
}


.title-span {
  color: blue;
}

.invalid-pass {
  color: red;
}

.success {
  border: 1px solid green;
}