<div class="wrapper">
  <h1>Tech <span class="title-span">Shop</span></h1>
  <p class="title">პაროლის აღდგენა</p>

  <div class="passrecover">
    <form #passrecover="ngForm" (ngSubmit)="recoveryPass()">
      <div class="label-div">
        <img src="/svg/envelope-regular.svg" alt="">
        <label for="email">ემაილი</label>
      </div>
      
      <input
        type="email"
        name="email"
        id="email"
        [(ngModel)]="recoveryData.email"
        required
        email
        placeholder="ემაილი"
      />

      @if (successMessage) {
        <p class="success-message">{{ successMessage }}</p>
      } @else if (errorMessage) {
        <p class="error-message">{{ errorMessage }}</p>
      }

      <button [disabled]="passrecover.invalid">დადასტურება</button>

      @if (!hasToken) {
        <p><a routerLink="/">მთავარ გვერდზე გადასვლა</a></p>
      } @else {
        <p><a routerLink="/signin">ავტორიზაცია</a></p>
      }

    </form>
  </div>
</div>
