<div class="card">
  <div class="img-div">
    <img [src]="productData.thumbnail" alt="" />
  </div>

  <div class="card-description">
    <h2 class="prd-title">{{ productData.title }}</h2>

    <p>{{ productData.warranty }} წლიანი გარანტია</p>

    <div class="price-div">
      <p class="price">{{ productData.price.current | currency }}</p>

      @if (productData.price.beforeDiscount !== productData.price.current) {
          <p class="discount-price">{{ productData.price.beforeDiscount | currency }}</p>
      }

      @if (productData.price.discountPercentage !== 0) {
        <p class="discount-perc">-{{ productData.price.discountPercentage / 100 | percent }}</p>
      }
      
      
    </div>

    <p class="rating">🌟{{ productData.rating }}</p>

    <div class="add-button">
      <button class="add-buton"><img src="svg/cart-plus-solid.svg">კალათში დამატება</button>
    </div>
    
  </div>

  <div class="discount-alert">
    @if (productData.price.discountPercentage !== 0) {
      <p>ფასდაკლება!</p>
    }
  </div>
</div>
