<div class="card">
  <div class="img-div">
    <img [src]="product.thumbnail" alt="" />
  </div>

  <div class="card-description">
    <h2 class="prd-title">{{ product.title }}</h2>

    <p>{{ product.warranty }} წლიანი გარანტია</p>

    <div class="price-div">
      <p class="price">{{ product.price.current | currency }}</p>

      @if (product.price.beforeDiscount !== product.price.current) {
        <p class="discount-price">{{ product.price.beforeDiscount | currency }}</p>
      }

      @if (product.price.discountPercentage !== 0) {
        <p class="discount-perc">-{{ product.price.discountPercentage / 100 | percent }}</p>
      }
    </div>

    <p class="rating">🌟{{ product.rating }}</p>

    <div class="add-button">
      <button class="add-buton" routerLink="/cart">
        <img src="svg/cart-plus-solid.svg" />კალათში დამატება
      </button>
    </div>
  </div>

  <div class="discount-alert">
    @if (product.price.discountPercentage > 0) {
      <p>ფასდაკლება!</p>
    }
  </div>
</div>
